nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
 ul {
   

}
.head{
    color: #64ffda;


}
.navitem{
    text-decoration: none;
    color: #CCD6F6;
    font-size: 16px;
    margin: 10px;
}
.navitem:hover{
    color: #64ffda;
}
.col{
    color: #64ffda;
}

