.abohead{
    color: #CCD6F6;
    font-size: 1.9rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.about-det-cont{
    width: 80vw;
}
.abospanhead{
    font-size: 1.9rem;
    margin-bottom: 60px;
    color: #64ffda;
    margin-left: 10px;
}
.aboutme-para{
    font-size: 1.2em;
    margin: 10px;
    line-height: 30px;
}
.cont{
    display: flex;
    /* width: 70vw; */
    justify-content: space-around;
    color: #8892b0;
    margin-top: 50px;
    align-items: center;

}
.cont p {
    display: flex;
    text-align: justify;
}
.skill-heading{
    margin-top: 10px;
    color: #64ffda;
}
.img{
    
     width:50vw;
    border-radius: 10px;
    
    
}
.skill{
    display: flex;
    justify-content: center;
}
.list  {
   margin: 40px;
  
}
.list li {
    padding: 5px;
   
    

}
.list li:hover{
    color: #64ffda;
    cursor: pointer;
}
li::before {content: "• "; color: #64ffda}

@media only screen and (max-width: 1133px) {
    .cont {
      display: flex;
      flex-direction: column;
    }
  }
  
@media only screen and (max-width: 688px) {
    .cont p {
      display: flex;
      width: fit-content;
      margin-left: 15px;
      margin-right: 15px;
    }
    .img{
        margin: 20px;
    }
    .abohead{
        color: #CCD6F6;
        font-size: 1.6rem;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .abospanhead{
        font-size: 1.6rem;
        margin-bottom: 30px;
    }
    .skill{
        display: flex;
        flex-direction: column;
    }
    .list{
        margin: 2px;
    }

  }