.cotactcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}
.conthead{
color: #64ffda;
font-size: 1.4rem;
}
.contmid{
    color: #CCD6F6;
    font-size: 3rem;
    font-weight: bold;
    margin: 30px;
}
.contbio{
color: #8892b0;
width: 50vw;
text-align: center;
font-size: 1.2em;
line-height: 30px;
}
.contbtn{
  color: #64ffda;
  border-radius: 10px;
  padding: 15px;
  margin: 60px;
  font-size: 1.4rem;
  border-color: #64ffda;
  cursor: pointer;
  width: 160px;
}
.contbtn:hover{
  color: #8892b0;
}
@media only screen and (max-width: 688px) {
  .cotactcont{
    margin-top: 80px;
  }
  .contbio{
  display: flex;
  width: fit-content;
  margin: 20px;
 }
 .contmid{
  color: #CCD6F6;
  font-size: 2rem;
  font-weight: bold;
  margin: 30px;
}
}